<!-- client/components/dialog-shell.html -->
<!doctype html>

<html lang="pt-BR" class="h-full">
  <head>
    <base target="_top" />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="../styles.css" />
  </head>

  <body
    class="flex h-full flex-col bg-white px-4 py-6 font-sans text-slate-900 antialiased select-none"
    attributes
  >
    <yield></yield>
  </body>

  <!-- Scripts -->
  <script
    defer
    src="https://cdn.jsdelivr.net/npm/alpinejs@3.15.12/dist/cdn.min.js"
  ></script>
</html>
